.form
  .new_message
  = form_for [@group, @message] do |f|
    .input-box
      = f.text_field :content, class: "input-box__text", placeholder: "type a message"
      =f.label :image, class: "input-box__image" do
        = fa_icon "picture-o"
        = f.file_field :image, class: "message_image"
    = f.submit "SEND", class: "submit-btn"