.main__messages__box{data: { message_id: "#{message.id}"}}
  .main__messages__box__upper
    %p.main__messages__box__upper__user= message.user.name
    %p.main__messages__box__upper__date= message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.main__messages__box__message= message.content
  = image_tag message.image.url if message.image.present?